/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  #header_box {
    position: relative;
    margin-bottom: 0;
  }
  #project_logo_box {
    display: flex;
    float: none;
  }
  .zmo-project-logo {
    display: block;
    width: 200px;
    margin-left: -220px;
  }
  .zmo-slogan-box {
    margin-top: 80px;
    margin-left: 20px;
    h1 {
      color: $zmoLink;
      white-space: nowrap;
      margin-bottom: 0;
    }
  }
  .zmo-search-box {
    margin-top: 84px;
    width: 100%;
  }

@media (max-width: 1500px) {
  #project_logo_box {
    flex-wrap: wrap;
  }
  .zmo-project-logo {
    margin-left: -38px;
  }
  .zmo-search-box {
    margin-top: -2.5rem;
    margin-bottom: 2.5rem
  }
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .project_logo_box {
    flex-wrap: wrap;
  }
  .zmo-project-logo {
    flex-basis: 200px;
    flex-shrink: 0;
  }
  .zmo-slogan-box {
    flex-basis: 400px;
    margin-top: 35px;
  }
  .zmo-project-slogan {
    h1 {
      white-space: normal;
    }
  }
  .zmo-search-box {
    margin-top: 0rem;
    margin-bottom: 0;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  .zmo-slogan-box {
    flex-basis: 320px;
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .zmo-slogan-box {
    flex-basis: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .zmo-search-box {
    .form-control {
      width: auto;
    }
  }
  #project_logo_box a {
    margin-top: -30px;
  }
}
