/*
 *  header settings
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  #header_box {
    position: relative;
    margin-bottom: 0;
  }
  #project_logo_box {
    display: flex;
    float: none;
  }
  .zmo-project-logo {
    display: block;
    width: 200px;
    margin-left: -220px;
  }
  .zmo-slogan-box {
    margin-top: 80px;
    margin-left: 20px;
    h1 {
      white-space: nowrap;
    }
  }
  .zmo-search-box {
    margin-top: 84px;
    width: 100%;
  }

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
