// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

// from CD
$zmoBlue:         rgb(20, 60, 115);   //#143c73;
$zmoOrange:       rgb(235, 130, 65);  //#eb8241;

// from webpage
$zmoOrangeLight:  #f7c297;
$zmoGrayLight:    #eef1f5;

$zmoLink:         #103c78;
$zmoLinkHover:    #f09246;
$zmoMenuLink:     #547b9c;

$zmoGray:         #bbb;


// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------

$primary: $zmoBlue;
$secondary: $zmoOrange;

$link-color: $zmoLink;
$link-hover-color: $zmoLinkHover;

$font-family-sans-serif: Muli, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1rem;

$navbar-light-color: $zmoLink;
$navbar-light-hover-color: $zmoLinkHover;

// Dropdowns
$dropdown-padding-y:                0;
$dropdown-spacer:                   0;
$dropdown-color:                    $link-color;
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      0;
$dropdown-link-color:               $zmoMenuLink;
$dropdown-link-hover-color:         $zmoLinkHover;
$dropdown-link-hover-bg:            white;
$dropdown-link-active-color:        $zmoMenuLink;
$dropdown-link-active-bg:           white;
$dropdown-item-padding-y:           .75rem;
$dropdown-item-padding-x:           1rem;
$dropdown-divider-bg:               $zmoMenuLink;

// Paginations
$pagination-color: white;
$pagination-bg: $primary;
$pagination-border-color: $primary;

$pagination-hover-color: white;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $secondary;

$pagination-active-color: white;
$pagination-active-bg: $secondary;
$pagination-active-border-color: $secondary;

$pagination-disabled-color: white;
$pagination-disabled-bg: $zmoGray;
$pagination-disabled-border-color: $zmoGray;
